<div class="container">
    <h1>LISTA DE TAREAS</h1>   
     <label for="nombtarea" >Nombre de la tarea:</label>
     <input type="text" id="tarea" [(ngModel)]="nombreTarea" (keyup.enter)="agregarTarea()" onkeydown="return /[a-z,0-9, ]/i.test(event.key)">
     <button  (click)="agregarTarea()">Agregar</button>      
        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let nombtarea of tareas;let indice = index;">
                <th scope="row" ><input [(ngModel)]="nombtarea.cumplido" (change)="Estadotarea()" type="checkbox"></th>
                <td >{{nombtarea.nombre}}</td>
                <td><a  (click)="eliminar(indice)" class="eliminar" [class.bloquear] ="nombtarea.cumplido">&times;</a></td>
            </tr>
            </tbody>
        </table>
</div>             
